<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 공통 Include Script -->
<th:block layout:fragment="include-script">

    <script th:src="@{/js/plugins/jquery/jquery.js}"></script>

    <script th:src="@{/js/plugins/echarts/echarts.js}"></script>

    <script th:src="@{/js/plugins/bootstrap/bootstrap.js}"></script>
    <script th:src="@{/js/plugins/bootstrap/bootstrap.bundle.min.js}"></script>

    <script th:src="@{/js/plugins/bootstrap/bootstrap-datepicker/bootstrap-datepicker.js}"></script>
    <script th:src="@{/js/plugins/bootstrap/bootstrap-datepicker/bootstrap-datepicker.ko.min.js}"></script>
    <script th:src="@{/js/plugins/bootstrap-sweetalert/sweetalert.js}"></script>
    <script th:src="@{/js/plugins/bootstrap-select/bootstrap-select.js}"></script>
    <script th:src="@{/js/plugins/timepicker/jquery.timepicker.js}"></script>

    <script th:src="@{/js/plugins/handlebarsjs/handlebars-v4.7.3.js}"></script>
    <script th:src="@{/js/plugins/handlebarsjs/handlebars.min-v4.7.3.js}"></script>

    <script th:src="@{/js/plugins/chartjs/Chart.js}"></script>

    <script th:src="@{/js/plugins/datatables/jquery.dataTables.js}"></script>

    <script th:src="@{/js/plugins/common/adminlte.js}"></script>

    <script th:src="@{/js/plugins/twbs/jquery.twbsPagination.min.js}"></script>
    <script th:src="@{/js/plugins/lodash/lodash.min.js}"></script>

    <script th:src="@{/js/plugins/sheet-js/shim.min.js}"></script>
    <script th:src="@{/js/plugins/sheet-js/xlsx.full.min.js}"></script>

    <script th:src="@{/js/plugins/moment/moment.js}"></script>

    <script th:src="@{/js/plugins/voca/voca.min.js}"></script>

    <script th:src="@{/js/plugins/icheck/icheck.js}"></script>


    <script th:src="@{/js/customs/CustomHelpers.js}"></script>
    <script th:src="@{/js/customs/CustomFunctions.js}"></script>

</th:block>

</html>