<!DOCTYPE html>
<html lagn="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap-extend.min.css}">
	<link rel="stylesheet" th:href="@{/js/plugins/chartjs/Chart.css}">

	<link rel="stylesheet" th:href="@{/css/common/adminlte.css}">
	<link rel="stylesheet" th:href="@{/css/common/adminlte.min.css}">

	<link rel="stylesheet" th:href="@{/css/common/fontawesome-free/css/all.css}">
	<link rel="stylesheet" th:href="@{/css/common/fontawesome-free/css/all.min.css}">

	<link rel="stylesheet" th:href="@{/js/plugins/icheck/skins/flat/blue.min.css}">



	<!--	-->

	<script th:src="@{/js/plugins/jquery/jquery.js}"></script>

	<script th:src="@{/js/plugins/echarts/echarts.js}"></script>

	<script th:src="@{/js/plugins/bootstrap/bootstrap.js}"></script>
	<script th:src="@{/js/plugins/bootstrap/bootstrap.bundle.min.js}"></script>

	<script th:src="@{/js/plugins/handlebarsjs/handlebars-v4.7.3.js}"></script>
	<script th:src="@{/js/plugins/handlebarsjs/handlebars.min-v4.7.3.js}"></script>

	<script th:src="@{/js/plugins/chartjs/Chart.js}"></script>

	<script th:src="@{/js/plugins/datatables/jquery.dataTables.js}"></script>

	<script th:src="@{/js/plugins/common/adminlte.js}"></script>

	<script th:src="@{/js/plugins/twbs/jquery.twbsPagination.min.js}"></script>
	<script th:src="@{/js/plugins/lodash/lodash.min.js}"></script>

	<script th:src="@{/js/plugins/moment/moment.js}"></script>

	<script th:src="@{js/plugins/voca/voca.min.js}"></script>

	<script th:src="@{js/plugins/icheck/icheck.js}"></script>



	<script th:src="@{/js/customs/CustomHelpers.js}"></script>
	<script th:src="@{/js/customs/CustomFunctions.js}"></script>


</head>
<body>

<th:block th:replace="web/layout/fragments/header"/><!-- header -->

<th:block th:replace="web/layout/fragments/side"/><!-- side -->

<div id="content" layout:fragment="content"></div><!--content-->

<th:block layout:fragment="additional-include-script"/><!-- 추가 Include Script -->
</body>
</html>