<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <div class="user-panel pb-2 pt-2">
      <h1 class="text-center">TEST</h1>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview menu-open">
            
            <ul class="nav nav-treeview">
              
              <li class="nav-item">
                <a href="/person/findAll" class="nav-link">
                  <i class="nav-icon fas fa-table"></i>
                  <p>전체리스트</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/event/table" class="nav-link">
              <i class="nav-icon fas fa-table"></i>
                <p>최근리스트</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/event/chart" class="nav-link">
              <i class="nav-icon fas fa-chart-line"></i>
                <p>차트</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  
</body>
</html>